{% load static %}
<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/standard_style.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/mobile_style.css' %}"
          media="(max-width: 480px)">
    <meta name="viewport" content="width=480px, user-scalable=yes">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <style>
            {% block style %}
            {% endblock style %}
    </style>
</head>

<body class="parent">
    <div class="child">
        <a class="link-btn text-center" style="margin-bottom: 20px; margin-top: 7px; width: 85%; font-size: 24px" href="{% url 'inventory:index' %}">Главная</a>
        {% block content %}
            <a href="{% url 'inventory:category-create' %}">Приложение "Inventory"</a>
        {% endblock %}

    </div>
</body>

</html>