{% extends 'inventory_items/base.html' %}

{% block title %}
    InventoryApp
{% endblock title %}

{% block style %}
    p {
        margin: 2px;
    }
{% endblock %}

{% block content %}
    <div>
{#        <p class="text-right">#}
{#            <a href="#">#}
{#                Поиск#}
{#            </a>#}
{#        </p>#}

        <form class="text-right" action="{% url 'inventory:search_results' %}" method="get">
            <b style="font-size: 20px">Найти среди {{ count_obl }} предметов: </b>
            <input name="item" type="text" placeholder="Поиск...">
        </form>
        <div class="aliceblue">
            <p>
                <a class="link-btn" href="{% url 'inventory:item-create' %}">
                    <b>&#128304 Добавить предмет</b>
                </a>
            </p>
            <p>
                <a class="link-btn" href="{% url 'inventory:item-list' %}">
                    &#128196 Список предметов
                </a>
            </p>
        </div>
        <hr class="hr-grey">
        <p>
            <a class="link-btn" href="{% url 'inventory:category-create' %}">
                Создание категорий
            </a>
        </p><p>
            <a class="link-btn" href="{% url 'inventory:category-list' %}">
                Список категорий
            </a>
        </p>
        <hr class="hr-grey">
        <div class="aliceblue">
        <p>
            <a class="link-btn" href="{% url 'inventory:location-create' %}">
                Создание мест хранения
            </a>
        </p>
        <p>
            <a class="link-btn" href="{% url 'inventory:location-list' %}">
                Список мест хранения
            </a>
        </p>
        </div>
        <hr class="hr-grey">
        <p>
            <a class="link-btn" href="{% url 'inventory:box-create' %}">
                Создание упаковки
            </a>
        </p>
        <p>
            <a class="link-btn" href="{% url 'inventory:box-list' %}">
                Список упаковок
            </a>
        </p>
        <hr class="hr-grey">
        <div class="aliceblue">
        <p>
            <a class="link-btn" href="{% url 'inventory:material-create' %}">
                Создание материала box'a
            </a>
        </p>
        <p>
            <a class="link-btn" href="{% url 'inventory:material-list' %}">
                Список материалов box'ов
            </a>
        </p>
        </div>
    </div>
{% endblock content %}