{% extends 'base.html' %}
{% block content %}
    {{ title }}
    <form action="" method="post">
        {% csrf_token %}
{#        {{ form.as_div }}#}
        <div class="row-form-errors">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <p>
                <label class="form-label" for="{{ f.id_for_label }}">
                    {{ f.label }}
                </label> {{ f }}</p>
            <div class="row-form-errors">{{ f.errors }}</div>
        {% endfor %}

        <button type="submit">Сохранить</button>
    </form>
    {% for l in log %}
        <br>{{ l.data }} - {{ l.count }} шт.
    {% endfor %}
    <p>
        <a href="{% url 'summary_of_the_day:summary_of_the_day_cigarettes_stat' %}">
            Посмотреть статистику
        </a>
    </p>
    <p><a href="#">...</a></p>
    <p><a href="#">...</a></p>
    <p>
        <a href="{% url 'summary_of_the_day:summary_of_the_day_index' %}">
            На главную
        </a>
    </p>
{% endblock %}
