<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>SummaryOfTheDay</title>
</head>
<body>
{% block content %}
    {{ title }}
    <p>
        <a href="{% url 'summary_of_the_day:summary_of_the_day_cigarettes' %}">
            Сигареты
        </a>
    </p>
    <p><a href="#">Финансы</a></p>
    <p><a href="#">Вес</a></p>
    <p>
        <a href="{% url 'summary_of_the_day:summary_of_the_day_pullups' %}">
            Подтягивания
        </a>
    </p>
    <p><a href="#">...</a></p>
    <p><a href="#">...</a></p>
    <p><a href="#">...</a></p>
    <p><a href="#">Проверка заполнения</a></p>
{% endblock %}
</body>
</html>