<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <style>
            html {
              height: 100vh;
            }
            body {
              min-height: 100%;
            }
            dialog {
              position: static;
            }
            .parent {
              display: flex;
            }
            .child {
              margin: auto;}
            div {
                font-size: 24px;
            }
        </style>
    {% block style %}
    {% endblock %}
</head>

<body class="parent">
    <div class="child">
        <br>
        <a href="{% url 'base' %}">Главная</a>
        <br>
        {% block content %}
            <br>
            <a href="{% url 'smart_app:sandbox_index' %}">Приложение "SmartPhons"</a>
            <br>
            <a href="{% url 'summary_of_the_day:summary_of_the_day_index' %}">Приложение "SummaryOfTheDay"</a>
            <br>
            <a href="{% url 'inventory:index' %}">Приложение "Inventory"</a>
        {% endblock %}

    </div>
</body>

</html>