
<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>HTML5</title>
 </head>
 <body>
  <p>Привет, мир</p>
	<video controls="controls">
		<source src="C://PythonProjects//DjangoProject//templates//Ytest//qwe.mp4">
	</video>
	<video controls="controls">
		<source src="СПЛИН - Выхода нет [Клип].mp4" >
	</video>
	<video controls="controls" width="400" height="300">
		<source src="[BadComedian] - ГОЛОДНЫЕ ИГРЫ (РЕЖ. версия) обзор.mp4" >
	</video>
  <a href="C://PythonProjects//DjangoProject//templates//Ytest//qwe.mp4">sad</a>
 </body>
</html>